名字: 'GitHub Actions Birthday Reminder'

on:
  push:
    branches: [ "master" ]
  pull_request:
分支:[“master”]
时间表:
    - cron: '1 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: run
      run: python birthday.py
    env:
      DATA: ${{ secrets.DATA }}
      CORPID: ${{ secrets.CORPID }}
      SECRET: ${{ secrets.SECRET }}
      AGENTID: ${{ secrets.AGENTID }}


