name: 'GitHub Actions Birthday Reminder'

on:
  push:	
    branches: [ master ]
  schedule:
    - cron: '0 23 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: 'Install node'
        uses: actions/setup-node@v1
      - name: 'Install NPM dependencies'
        run: npm install
      - name: 'Run code'
        run: node birthday.js
        env:
          DATA: ${{ secrets.DATA }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
